Repository gardener/gardener-extension-provider-aws, pull requests merged in 2020-07, with the labels that each got.

#138 [ci:component:github.com/gardener/machine-controller-manager:v0.31.0->v0.32.0]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#139 Remove bastion IAM role, profiles and policies
  charts/internal/aws-infra/templates/main.tf
Labels: area/control-plane, area/security, kind/cleanup, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#141 StorageClasses now allow volume expansion
  charts/gardener-extension-provider-aws/templates/storageclass.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
  example/controller-registration.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, needs/rebase, platform/aws, priority/normal

#142 fix bastion infra test
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#146 create default VolumeSnapshotClass if kubernetes version >= 1.18
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#147 Enable encryption by default AWS instance EBS vols
  docs/usage-as-end-user.md
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, priority/normal

#150 Upgrade github.com/gardener/cloud-provider-aws
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm
