Repository gardener/gardener-extension-provider-aws, pull requests merged in 2020-08, with the labels that each got.

#133 Adapt the extension to Loki
  charts/gardener-extension-provider-aws/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, needs/ok-to-test, platform/aws, priority/normal

#149 Configure mcm-settings from worker to machine-deployment.
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#153 Change default webhook server port to 10250
  charts/gardener-extension-provider-aws/values.yaml
  charts/gardener-extension-validator-aws/values.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#160 Create gateway endpoints when existing vpc is used
  charts/internal/aws-infra/templates/main.tf
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#161 Infrastructure controller validates VPC attributes
  pkg/aws/client/client.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator_reconcile.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#162 Add PDB for validation server
  charts/gardener-extension-validator-aws/charts/runtime/templates/poddisruptionbudget.yaml
Labels: area/high-availability, area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#163 Update amazon/aws-ebs-csi-driver to v0.6.0
  charts/images.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#167 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#166 Add docs about required infrastructure user privileges
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#165 Allow elastic IP allocation ID to be changed
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#164 Allow passing --volume-attach-limit to the csi driver
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  docs/usage-as-end-user.md
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/storage, kind/task, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#157 Add integration test for existing vpc case
  .test-defs/infrastructure-test.yaml
  go.mod
  pkg/aws/client/client.go
  test/integration/infrastructure/cleanup.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/github.com/onsi/gomega/gbytes/buffer.go
  vendor/github.com/onsi/gomega/gbytes/io_wrappers.go
  vendor/github.com/onsi/gomega/gbytes/say_matcher.go
  vendor/github.com/onsi/gomega/gexec/build.go
  vendor/github.com/onsi/gomega/gexec/exit_matcher.go
  vendor/github.com/onsi/gomega/gexec/prefixed_writer.go
  vendor/github.com/onsi/gomega/gexec/session.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/crd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/helper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/server.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/.gitignore
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/README.md
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/addr/manager.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/control_plane.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/arguments.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/bin_path_finder.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/process.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/tinyca.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/kubectl.go
Labels: area/quality, kind/test, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#168 Recreate storage classes if update is failing
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, topology/shoot

#169 Nit: Remove unnecessary err check
  Dockerfile
  test/integration/infrastructure/infrastructure_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#170 Vendor gardener/gardener@v1.9.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/helper/helpers.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/utils.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kube_apiserver_service.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsentry.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsprovider.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/network/network.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shootsecrets/secrets_manager.go
  vendor/github.com/gardener/gardener/pkg/scheduler/controller/shoot/scheduler_control.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/infodata.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/types.go
  vendor/github.com/gardener/gardener/pkg/utils/random.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/control_plane.go
  vendor/github.com/gardener/gardener/test/framework/cleanup.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal

#172 Add make target for infra integration test
  Makefile
  test/integration/infrastructure/infrastructure_test.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#173 Add kcm mounts when not using csi
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/os, kind/bug, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm
