Repository gardener/gardener-extension-provider-aws, pull requests merged in 2021-01, with the labels that each got.

#241 Use provider-specific terraformer image
  charts/images.yaml
Labels: area/cost, area/performance, kind/enhancement, kind/test, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#238 update mcm to use worker secret ref. for the machine class credentialsSecretRef
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  go.mod
  go.sum
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/github.com/aws/aws-sdk-go/aws/client/default_retryer.go
  vendor/github.com/aws/aws-sdk-go/aws/config.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/stscreds/web_identity_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/metric_chan.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/api.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/service.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/request/retryer.go
  vendor/github.com/aws/aws-sdk-go/aws/session/credentials.go
  vendor/github.com/aws/aws-sdk-go/aws/session/doc.go
  vendor/github.com/aws/aws-sdk-go/aws/session/env_config.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkmath/floor.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkmath/floor_go1.9.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/rest/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/restxml/restxml.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/timestamp.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/ec2iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/doc_custom.go
  vendor/github.com/aws/aws-sdk-go/service/sts/customizations.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/azure_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/gcp_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machine_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/openstack_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/packet_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/quality, kind/enhancement, merge/squash, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/m

#253 Slightly refactor validation of infra config against CloudProfile
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
  pkg/validator/shoot_validator.go
Labels: area/dev-productivity, kind/api-change, kind/bug, kind/cleanup, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/s

#212 Migration of in-tree to out-of-tree MCM providers
  charts/images.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/aws/types.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/dev-productivity, kind/api-change, merge/squash, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/m

#256 Add in-tree volume plugin tags to CSI provisioned volumes
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#257 [release-v1.19] Add in-tree volume plugin tags to CSI provisioned volumes
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#250 add aws cloudprofile validator
  .ci/pipeline_definitions
  Dockerfile
  Makefile
  charts/gardener-extension-admission-aws/.helmignore
  charts/gardener-extension-admission-aws/Chart.yaml
  charts/gardener-extension-admission-aws/charts/application/Chart.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/_helpers.tpl
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-aws/charts/application/values.yaml
  charts/gardener-extension-admission-aws/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/_helpers.tpl
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/secret-cert.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-aws/charts/runtime/values.yaml
  charts/gardener-extension-admission-aws/templates/_helpers.tpl
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-validator-aws/Chart.yaml
  charts/gardener-extension-validator-aws/charts/application/Chart.yaml
  charts/gardener-extension-validator-aws/charts/runtime/Chart.yaml
  cmd/gardener-extension-admission-aws/app/app.go
  cmd/gardener-extension-admission-aws/main.go
  example/40-validatingwebhookconfiguration.yaml
  example/admission-aws-certs/tls.crt
  example/admission-aws-certs/tls.key
  pkg/admission/cmd/options.go
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/serialization.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/webhook.go
  pkg/apis/aws/validation/cloudprofile.go
  pkg/apis/aws/validation/cloudprofile_test.go
  pkg/validator/shoot_handler.go
Labels: area/quality, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/l

#259 Add k8s 1.20 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#260 Add option to ignore custom resource tags
  charts/internal/aws-infra/templates/_helpers.tpl
  charts/internal/aws-infra/templates/main.tf
  charts/internal/aws-infra/values.yaml
  docs/usage-as-end-user.md
  example/30-infrastructure.yaml
  hack/api-reference/api.md
  pkg/apis/aws/types_infrastructure.go
  pkg/apis/aws/v1alpha1/types_infrastructure.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/controller/infrastructure/actuator_reconcile.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/usability, kind/api-change, kind/enhancement, kind/test, merge/squash, needs/ok-to-test, needs/second-opinion, platform/aws, priority/normal, size/xl

#261 Change ValidatingWebhookConfiguration to v1
  charts/gardener-extension-admission-aws/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
  example/admission-aws-certs/tls.crt
  example/admission-aws-certs/tls.key
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/m
