Repository gardener/gardener-extension-provider-aws, pull requests merged in 2021-12, with the labels that each got.

#456 Remove awsmachineclass cleanup
  charts/internal/machineclass/Chart.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#462 Prevent nil pointer dereference in admission-aws
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
Labels: area/quality, kind/regression, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#458 Make route53 rate limiter wait timeout configurable
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  pkg/aws/client/client.go
  pkg/aws/client/client_route53.go
  pkg/aws/client/types_route53.go
  pkg/cmd/options.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/add.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#439 Upgrade terraformer to v2.13.0, a version that uses terraform 0.13
  charts/images.yaml
  pkg/aws/client/client.go
  test/integration/dnsrecord/dnsrecord_test.go
Labels: area/control-plane, kind/enhancement, kind/test, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
