Repository gardener/gardener-extension-provider-aws, pull requests merged in 2021-08, with the labels that each got.

#382 Expose MCM logs to the end-user
  charts/gardener-extension-provider-aws/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/do-not-merge, reviewed/lgtm, size/xs

#361 Switch landscaper deployment to ControllerDeployment
  .landscaper/blueprint/blueprint.yaml
  .landscaper/blueprint/deploy-execution-manifests.yaml
Labels: area/dev-productivity, kind/enhancement, lifecycle/stale, needs/ok-to-test, platform/aws, size/m

#389 Upgrade github.com/gardener/cloud-provider-aws
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#388 Updated MCM RBACs to support VolumeAttachments
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/dev-productivity, kind/api-change, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#390 Upgrade github.com/gardener/cloud-provider-aws
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#397 Add Kubernetes v1.21 conformance badge
  README.md
Labels: needs/ok-to-test

#395 Add infrastructure ConfigValidator for checking VPC IDs
  go.mod
  go.sum
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/add.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/infrastructure/infrastructure_suite_test.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/github.com/gardener/gardener/charts/images.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/configvalidator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
  vendor/github.com/gardener/gardener/hack/.ci/component_descriptor
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
  vendor/github.com/gardener/gardener/hack/hook-me.sh
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/worker.go
  vendor/github.com/gardener/gardener/pkg/features/features.go
  vendor/github.com/gardener/gardener/pkg/logger/logrus.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/blackbox_exporter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/prometheus.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificates.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/generate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/secrets.go
  vendor/modules.txt
Labels: area/ops-productivity, area/quality, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, reviewed/do-not-merge, size/xl

#398 Categorize certain aws-route53 errors as configuration problems
  pkg/aws/client/client_route53.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#401 Revert "Add infrastructure ConfigValidator for checking VPC IDs (#395)"
  go.mod
  go.sum
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/add.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/infrastructure/infrastructure_suite_test.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/github.com/gardener/gardener/charts/images.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/configvalidator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
  vendor/github.com/gardener/gardener/hack/.ci/component_descriptor
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
  vendor/github.com/gardener/gardener/hack/hook-me.sh
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/worker.go
  vendor/github.com/gardener/gardener/pkg/features/features.go
  vendor/github.com/gardener/gardener/pkg/logger/logrus.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/blackbox_exporter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/prometheus.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificates.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/generate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/secrets.go
  vendor/modules.txt
Labels: needs/ok-to-test, platform/aws, reviewed/lgtm, size/l

#403 Add infrastructure ConfigValidator for checking VPC IDs
  go.mod
  go.sum
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/add.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/infrastructure/infrastructure_suite_test.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/github.com/gardener/gardener/charts/images.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/configvalidator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
  vendor/github.com/gardener/gardener/hack/.ci/component_descriptor
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
  vendor/github.com/gardener/gardener/hack/hook-me.sh
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/worker.go
  vendor/github.com/gardener/gardener/pkg/features/features.go
  vendor/github.com/gardener/gardener/pkg/logger/logrus.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/blackbox_exporter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/prometheus.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificates.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/generate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/secrets.go
  vendor/modules.txt
Labels: area/ops-productivity, area/quality, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l, merge/squash

#386 Enable `srcAndDstChecksEnabled` field from k8s >= v1.22
  pkg/controller/worker/machines.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs, merge/squash

#402 Stop using `github.com/pkg/errors`
  go.mod
  pkg/apis/aws/helper/scheme.go
  pkg/aws/client/client.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/webhook/shoot/mutator.go
  test/tm/generator.go
  vendor/modules.txt
Labels: kind/cleanup, platform/aws, reviewed/lgtm, size/m
