Repository gardener/gardener-extension-provider-aws, pull requests merged in 2021-03, with the labels that each got.

#284 Ensuring that the terraformer finalizer is removed during cleanup
  pkg/controller/infrastructure/actuator_migrate.go
Labels: area/control-plane-migration, kind/enhancement, needs/lgtm, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#286 Add priorityClass for mtu-customizer
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  example/controller-registration.yaml
Labels: area/quality, area/robustness, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#287 [release-v1.20] Add priorityClass for mtu-customizer
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  example/controller-registration.yaml
Labels: area/quality, area/robustness, kind/bug, needs/lgtm, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#288 activate minAllowed for cloud-controller-manager VPA
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#290 Skip explicit LB deletion for Kubernetes >= v1.16
  pkg/controller/infrastructure/actuator_delete.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/ops-productivity, area/robustness, area/scalability, kind/enhancement, kind/test, merge/squash, needs/ok-to-test, platform/aws, priority/critical, reviewed/lgtm, size/s

#291 [release-v1.20] Skip explicit LB deletion for Kubernetes >= v1.16
  pkg/controller/infrastructure/actuator_delete.go
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/s

#292 Update aws-ebs-csi-driver to v0.9.0
  charts/images.yaml
Labels: area/storage, needs/ok-to-test, reviewed/lgtm, size/xs

#293 Add controlplane label to csi-driver-controller
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#295 Activate explicit LB/SG deletion again and improve code to reduce API calls
  pkg/aws/client/client.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/ops-productivity, area/robustness, area/scalability, kind/enhancement, kind/test, merge/squash, needs/ok-to-test, platform/aws, priority/3, reviewed/lgtm, size/l

#296 Upgrade github.com/gardener/cloud-provider-aws
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#298 Specify minAllowed values by default for the extension controller
  charts/gardener-extension-provider-aws/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#301 Revert "Upgrade terraformer #294"
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#302 [release-v1.22] Automated cherry pick of #301: Revert "Upgrade terraformer #294"
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#300 Clean up the deletion of legacy monitoring ConfigMap
  pkg/controller/controlplane/clean_old_resources.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#304 Respect DescribeTagsInput constraints
  pkg/aws/client/client.go
Labels: kind/bug, kind/test, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#305 [release-v1.22] Automated cherry pick of #304: Respect DescribeTagsInput constraints
  pkg/aws/client/client.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s
