Repository gardener/gardener-extension-provider-aws, pull requests merged in 2021-09, with the labels that each got.

#396 Support for Kubernetes v1.22
  .gitignore
  README.md
  charts/images.yaml
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_versions.tpl
  charts/internal/seed-controlplane/charts/cloud-controller-manager/charts/utils-tls-cipher-suites
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-attacher.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csidriver.yaml
  charts/internal/utils-tls-cipher-suites/Chart.yaml
  charts/internal/utils-tls-cipher-suites/templates/_tls_cipher_suites.tpl
  go.mod
  go.sum
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  test/e2e/networkpolicies/networkpolicy_test.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/machine_crds.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/alicloudmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/awsmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/azuremachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/gcpmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machinedeployments.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machines.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machinesets.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/openstackmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/packetmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/registration.go
  vendor/github.com/gardener/gardener/extensions/test/e2e/framework/networkpolicies/agnostic.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/applier.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubecontrollermanager/waiter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/prometheus.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/tls_cipher_suites.go
  vendor/github.com/gardener/gardener/pkg/utils/version/version.go
  vendor/modules.txt
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, priority/3

#407 Validate duplication of ElasticIPAllocationID
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#408 Update blueprint for component provider-aws
  .landscaper/blueprint/blueprint.yaml
  .landscaper/blueprint/deploy-execution-manifests.yaml
Labels: area/delivery, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m, merge/squash

#411 Update aws-ebs-csi-driver
  charts/images.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs, priority/2

#412 [release-v1.28] Automated cherry pick of #411: Update aws-ebs-csi-driver
  charts/images.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#410 Make the linter fail on missing or wrong doc comments
  .golangci.yaml
  pkg/admission/validator/webhook.go
  pkg/apis/config/loader/loader.go
  pkg/aws/client/client.go
  pkg/aws/matchers/iam_role_policy_document.go
  pkg/controller/dnsrecord/actuator.go
  test/integration/vpc.go
  test/tm/generator.go
Labels: area/dev-productivity, area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s
