Repository gardener/gardener-extension-provider-aws, pull requests merged in 2021-06, with the labels that each got.

#348 Switch leader election to leases
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#351 Enhance validation of cloud provider secrets
  pkg/apis/aws/validation/secrets.go
  pkg/apis/aws/validation/secrets_test.go
Labels: area/ops-productivity, area/usability, kind/enhancement, needs/ok-to-test, platform/aws, size/s

#353 Add validation of Kubernetes feature gates
  go.mod
  go.sum
  pkg/admission/validator/shoot.go
  pkg/apis/aws/validation/controlplane.go
  pkg/apis/aws/validation/controlplane_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/hack/compare-k8s-feature-gates.sh
  vendor/github.com/gardener/gardener/hack/hook-me.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_bastion.go
  vendor/github.com/gardener/gardener/pkg/apis/operations/v1alpha1/conversions.go
  vendor/github.com/gardener/gardener/pkg/apis/operations/v1alpha1/types_bastion.go
  vendor/github.com/gardener/gardener/pkg/apis/seedmanagement/encoding/encoding.go
  vendor/github.com/gardener/gardener/pkg/apis/seedmanagement/v1alpha1/conversions.go
  vendor/github.com/gardener/gardener/pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/clientset.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/mock/mocks.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/client/operations/clientset/versioned/clientset.go
  vendor/github.com/gardener/gardener/pkg/client/operations/clientset/versioned/doc.go
  vendor/github.com/gardener/gardener/pkg/client/operations/clientset/versioned/typed/operations/v1alpha1/bastion.go
  vendor/github.com/gardener/gardener/pkg/client/operations/clientset/versioned/typed/operations/v1alpha1/doc.go
  vendor/github.com/gardener/gardener/pkg/client/operations/clientset/versioned/typed/operations/v1alpha1/generated_expansion.go
  vendor/github.com/gardener/gardener/pkg/client/operations/clientset/versioned/typed/operations/v1alpha1/operations_client.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/patch.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/seedfilter.go
  vendor/github.com/gardener/gardener/pkg/extensions/customresources.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/backupentry/backupentry.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/containerruntime/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/controlplane/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/extension/extension.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/worker/worker.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/gardener/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/admissionplugins.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/object.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/secretref.go
  vendor/github.com/gardener/gardener/pkg/utils/object.go
  vendor/github.com/gardener/gardener/pkg/utils/retry/types.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/matchers.go
  vendor/github.com/gardener/gardener/test/framework/k8s_utils.go
  vendor/github.com/gardener/gardener/test/framework/managedseedframework.go
  vendor/github.com/gardener/gardener/test/framework/shootmigrationtest.go
  vendor/modules.txt
Labels: area/ops-productivity, area/usability, kind/enhancement, kind/test, needs/ok-to-test, platform/aws, platform/gcp, reviewed/lgtm, size/m

#352 Add support for nodeless dev setup in dev-setup-admission-aws.sh
  example/40-validatingwebhookconfiguration.yaml
  hack/dev-setup-admission-aws.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#354 Enable to overwrite the Kubernetes version for CSI migration on Shoot level
  go.mod
  go.sum
  pkg/aws/csimigration.go
  pkg/aws/csimigration_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/controlplane/ensurer.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/general/managed_resource.go
  vendor/github.com/gardener/gardener/extensions/pkg/predicate/predicate.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/waiter.go
  vendor/github.com/gardener/gardener/hack/hook-me.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/extensions/customresources.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/unstructured/object.go
  vendor/modules.txt
Labels: area/storage, kind/enhancement, merge/squash, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#358 make additional images used in the helm chart configurable
  .landscaper/blueprint/deploy-execution-manifests.yaml
  charts/gardener-extension-provider-aws/templates/_helpers.tpl
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  charts/gardener-extension-provider-aws/values.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#356 Update aws-ebs-csi-driver
  charts/images.yaml
Labels: area/storage, lifecycle/stale, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#365 Setting CSI AWS topology label on machine deployment creation to allow scale-up
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/auto-scaling, kind/enhancement, merge/squash, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#368 [release-v1.25] Automated cherry pick of #365: Setting CSI AWS topology label on machine deployment creation to allow scale-up
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/auto-scaling, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#367 Add a link to the cherry-pick-pr script from gardener
  Makefile
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
