Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-12, with the labels that each got.

#664 Update calico version to v1.27.1
  go.mod
  go.sum
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#666 Update external-snapshotter artifacts to v6.1.0 and update of other csi components
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/shoot-storageclasses/templates/_helpers.tpl
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-snapshotter.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-snapshot-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xl

#668 Update k8s v1.25 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#669 Add health check for aws-custom-route-controller deployment
  pkg/controller/healthcheck/add.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#644 Add validation for `domain-name` of custom dhcp options used in VPCs.
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
Labels: area/ops-productivity, area/quality, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#670 Improve logging for csi-driver-node
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#671 Skip network mutation when shoot specs are equal
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#672 add linting check for deprecated functions
  .golangci.yaml
  charts/charts.go
  pkg/apis/config/loader/loader.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#655 Disable network overlay for cilium by default
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l
