Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-07, with the labels that each got.

#569 Update go to 1.18
  .golangci.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xl

#570 Vendor gardener/gardener@v1.50.1
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-admission-aws/app/app.go
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/hack/compare-k8s-controllers.sh
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/doc.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/zz_generated.deepcopy.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/doc.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s, merge/squash

#565 Enhance cloudprofileconfig for multi arch machine and filter machines ami based on arch
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/aws/helper/helper.go
  pkg/apis/aws/helper/helper_test.go
  pkg/apis/aws/types_cloudprofile.go
  pkg/apis/aws/types_worker.go
  pkg/apis/aws/v1alpha1/defaults.go
  pkg/apis/aws/v1alpha1/defaults_test.go
  pkg/apis/aws/v1alpha1/types_cloudprofile.go
  pkg/apis/aws/v1alpha1/types_worker.go
  pkg/apis/aws/v1alpha1/v1alpha1_suite_test.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/v1alpha1/zz_generated.defaults.go
  pkg/apis/aws/validation/cloudprofile.go
  pkg/apis/aws/validation/cloudprofile_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/delivery, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l, merge/squash

#571 Adapt the priority according to the gardener guideline
  charts/gardener-extension-provider-aws/templates/_helpers.tpl
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/templates/priorityclass.yaml
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_versions.tpl
  charts/internal/aws-lb-readvertiser/templates/aws-lb-readvertiser.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#574 Update aws-ebs-csi-driver
  charts/images.yaml
Labels: area/quality, area/storage, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#576 Remove AWS gp2 StorageClass
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#579 update mtu alpine
  charts/gardener-extension-provider-aws/templates/_images.tpl
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#575 Update v1.24 conformance test coverage
  README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#573 Upgrade hvpa
  go.mod
  go.sum
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/groupversion_info.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/hvpa_types.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/doc.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/register.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs
