Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-05, with the labels that each got.

#541 Update aws-ebs-csi-driver
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#542 Cleanup Token Projection artefacts
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/templates/serviceaccount.yaml
  example/controller-registration.yaml
Labels: area/security, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#531 bump prometheus/client_golang
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#546 Update `aws-ebs-csi-driver` image registry
  charts/images.yaml
Labels: area/open-source, kind/regression, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#547 Upgrade github.com/gardener/cloud-provider-aws
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#548 Update mtu-customizer DaemonSet images
  charts/gardener-extension-provider-aws/templates/_images.tpl
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#549 admission-aws: Prevent nil pointer dereference when `.spec.provider.infrastructureConfig` is nil
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/admission/validator/validator_suite_test.go
  pkg/apis/aws/validation/secrets_test.go
Labels: kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l

#553 Support for Kubernetes v1.24
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdog.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdogfactory.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/watchdogmanager.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/manager/manager.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/hack/test-integration.sh
  vendor/github.com/gardener/gardener/hack/tools.mk
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/unstructured/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/alias.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/manager/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/validation/features/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/version/version.go
  vendor/k8s.io/apimachinery/pkg/util/clock/clock.go
  vendor/modules.txt
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#554 Enable the healthchecks for the csi-snapshot-validation Deployment
  pkg/controller/healthcheck/add.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#552 Renamed tutorial to folder name
  docs/tutorials/kubernetes-cluster-on-aws-with-gardener/kubernetes-cluster-on-aws-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#551 admission-aws: Adapt Secrets webhook to rely on the provider label
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/validatingwebhook-validator.yaml
  cmd/gardener-extension-admission-aws/app/app.go
  example/40-validatingwebhookconfiguration.yaml
  pkg/admission/validator/secretbinding.go
  pkg/admission/validator/secretbinding_test.go
  pkg/admission/validator/secrets.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/admission/validator/webhook.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/index/index.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/secret.go
  vendor/modules.txt
Labels: area/cost, area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l
