Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-11, with the labels that each got.

#640 Update API Core version in examples to core.gardener.cloud/v1beta1
  README.md
  docs/usage-as-end-user.md
  example/30-controlplane.yaml
  example/30-controlplaneexposure.yaml
  example/30-dnsrecord.yaml
  example/30-infrastructure.yaml
  example/30-worker.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#638 Updated the guide on creating a cluster
  docs/tutorials/kubernetes-cluster-on-aws-with-gardener/kubernetes-cluster-on-aws-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#641 Cleanup scheduler.alpha.kubernetes.io/critical-pod annotations
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/open-source, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, size/xs

#637 Add cve categorizations/runtime contexts
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#635 support switching of network overlay mode
  charts/gardener-extension-admission-aws/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/clusterole.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/clusterrolebinding.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/deployment.yaml
  example/50-mutatingwebhookconfiguration.yaml
  go.mod
  go.sum
  pkg/admission/cmd/options.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l, status/on-hold

#647 add nil pointer check
  pkg/admission/mutator/shoot.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#648 fix crc deployment
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/values.yaml
Labels: needs/ok-to-test

#657 Do not fail a request for a Shoot from the core.gardener.cloud/v1alpha1 API
  charts/gardener-extension-admission-aws/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#658 [release-v1.40] Automated cherry pick of #657: Do not fail a request for a Shoot from the core.gardener.cloud/v1alpha1 API
  charts/gardener-extension-admission-aws/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#660 If machine image architecture is nil consider its architecture amd64
  pkg/apis/aws/helper/helper.go
  pkg/apis/aws/helper/helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#661 mutating webhook respects shoot deletion, restore and migration
  pkg/admission/mutator/mutator_suite_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#663 [release-v1.40] Automated cherry pick of #660: If machine image architecture is nil consider its architecture amd64
  pkg/apis/aws/helper/helper.go
  pkg/apis/aws/helper/helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#662 Automated cherry pick of #661 upstream release v1.40
  pkg/admission/mutator/mutator_suite_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m
