Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-08, with the labels that each got.

#566 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#587 Don't deploy `PSP`s when `PodSecurityPolicy` plugin is disabled
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/10-fake-shoot-controlplane.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s, merge/squash

#583 Remove install-requirement and use tools.mk
  Makefile
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, reviewed/ok-to-test, size/xs

#597 [GEP-20] Change StorageClass to WaitForFirstConsumer
  charts/gardener-extension-provider-aws/templates/storageclass.yaml
  charts/gardener-extension-provider-aws/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test

#598 Add `QPS` and `Burst` to HealthCheckConfig
  pkg/controller/healthcheck/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#592 Set seccomp profile to RuntimeDefault for csi-driver-node
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#590 Adding throughput field in worker config
  charts/internal/machineclass/values.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/aws/types_worker.go
  pkg/apis/aws/v1alpha1/types_worker.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/worker.go
  pkg/apis/aws/validation/worker_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#591 Add optional custom-route-controller
  charts/images.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/Chart.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/role.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/rolebinding.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/serviceaccount.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/values.yaml
  charts/internal/seed-controlplane/requirements.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-system-components/charts/aws-custom-route-controller/Chart.yaml
  charts/internal/shoot-system-components/charts/aws-custom-route-controller/templates/clusterrole.yaml
  charts/internal/shoot-system-components/charts/aws-custom-route-controller/templates/clusterrolebinding.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/aws/types_controlplane.go
  pkg/apis/aws/v1alpha1/types_controlplane.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/l, merge/squash

#596 Enable custom aws route controller per default for kubernetes >= 1.22 unless explicitly disabled.
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m
