Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-10, with the labels that each got.

#614 Bump alpine for mtu-resizer
  charts/gardener-extension-provider-aws/templates/_images.tpl
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#602 Update golang for builder image and linter to 1.19
  .golangci.yaml
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  Dockerfile
  Makefile
  pkg/controller/infrastructure/configvalidator.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#630 Fix infrastructure tests after gardener v1.56.0
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#624 Support for Kubernetes v1.25
  README.md
  charts/gardener-extension-admission-aws/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-aws/templates/poddisruptionbudget.yaml
  charts/images.yaml
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_versions.tpl
  example/controller-registration.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s, topology/garden, topology/seed, topology/shoot, merge/squash

#632 to ignore permission boundary property because it's managed by hyperscaler admin
  pkg/controller/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/impediment, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#636 to ignore permission boundary property because it's managed by hyperscaler admin
  pkg/controller/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/impediment, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
