Repository gardener/gardener-extension-provider-aws, pull requests merged in 2022-03, with the labels that each got.

#508 Use projected token mount for terraformer
  cmd/gardener-extension-provider-aws/app/app.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/add.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#510 Allow projected volumes in PSP
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs, priority/1, needs/cherry-pick

#511 [release-v1.34] Automated cherry pick of #510: Allow projected volumes in PSP
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#506 Add object selector for provider type in the `gardener-extension-admission-aws` webhook
  charts/gardener-extension-admission-aws/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-aws/values.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#519 [release-v1.34] Automated cherry pick of #512: [ci:component:github.com/gardener/machine-controller-manager:v0.43.0->v0.43.1]
  charts/images.yaml
Labels: needs/ok-to-test

#520 [release-v1.34] Automated cherry pick of #515: Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs

#507 Add snaphot validation webhook
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-networkpolicy.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snaphot-validation-webhook.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#509 Replace -ginkgo.noColor with -ginkgo.no-color
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#522 Extend error code mapping
  pkg/controller/dnsrecord/actuator.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#525 Add --version flag for components
  .dockerignore
  Makefile
  cmd/gardener-extension-admission-aws/app/app.go
  cmd/gardener-extension-provider-aws/app/app.go
  vendor/k8s.io/component-base/version/verflag/verflag.go
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#497 Add ready check for webhook server
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-admission-aws/app/app.go
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s
