Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-09, with the labels that each got.

#796 Update v1.27 conformance test coverage
  README.md
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#805 Vendor gardener/gardener@v1.77.5
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/hack/tools.mk
  vendor/modules.txt
Labels: kind/cleanup, needs/ok-to-test, needs/review, platform/aws, reviewed/lgtm, size/xs

#806 Revendor fixes
  .dockerignore
  charts/charts.go
  charts/images.go
  imagevector/images.yaml
  imagevector/imagevector.go
  pkg/controller/controlplane/add.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, needs/review, platform/aws, size/s

#804 Modify the AWS Load Balancer Controller deployment to use an AWS credentials file for authentication.
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/deployment.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/compliance

#802 Drop support for Shoots with Kubernetes version < 1.24
  README.md
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_versions.tpl
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/operations/operations.md
  imagevector/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, needs/rebase, needs/review, platform/aws, reviewed/lgtm, size/m

#809 Use embed.FS for CP charts
  Dockerfile
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/helpers.tpl
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/helpers.tpl
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/helpers.tpl
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/worker/machine_controller_manager.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#807 Remove dependency to specific calico and cilium versions.
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/modules.txt
Labels: area/networking, kind/technical-debt, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m
