Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-12, with the labels that each got.

#836 Update testmachinery image location
  .ci/pipeline_definitions
Labels: area/delivery, kind/task, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#838 Fix example for ControlPlaneConfig with loadBalancerController
  docs/usage/dual-stack-ingress.md
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#842 Vendor gardener/gardener@v1.83.3
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  vendor/github.com/gardener/gardener/hack/kind-up.sh
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/control-plane-migration

#843 [release-v1.51] Automated cherry pick of #842: Vendor gardener/gardener@v1.83.3
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  vendor/github.com/gardener/gardener/hack/kind-up.sh
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/control-plane-migration

#841 switch GCR -> Artifact-Registry
  .ci/pipeline_definitions
  Makefile
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-provider-aws/values.yaml
  example/controller-registration.yaml
  imagevector/images.yaml
Labels: needs/ok-to-test, needs/review, size/s

#834 Add support to dual-stack ingress with bring-your-own VPC.
  docs/usage/dual-stack-ingress.md
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/vpc.go
Labels: area/networking, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#840 strip usage of readvertiser
  charts/gardener-extension-provider-aws/templates/clusterfilters-logging.yaml
  charts/gardener-extension-provider-aws/templates/clusterparsers-logging.yaml
  charts/internal/aws-lb-readvertiser/Chart.yaml
  charts/internal/aws-lb-readvertiser/charts/utils-templates/Chart.yaml
  charts/internal/aws-lb-readvertiser/charts/utils-templates/README.md
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_resources.tpl
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_versions.tpl
  charts/internal/aws-lb-readvertiser/templates/aws-lb-readvertiser-vpa.yaml
  charts/internal/aws-lb-readvertiser/templates/aws-lb-readvertiser.yaml
  charts/internal/aws-lb-readvertiser/values.yaml
  example/30-controlplaneexposure.yaml
  example/controller-registration.yaml
  imagevector/images.yaml
  pkg/aws/types.go
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
  test/integration/healthcheck/test.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, size/l

#839 update alpine image
  charts/gardener-extension-provider-aws/templates/_images.tpl
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/rebase, platform/aws, size/xs

#846 Add Kubernetes v1.28 conformance test badge
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
