Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-01, with the labels that each got.

#675 Allow aws-custom-route-controller to create events
  charts/internal/shoot-system-components/charts/aws-custom-route-controller/templates/role.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#677 Update csi version
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#679 Update aws-ebs-csi-driver
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#678 Update golang to v1.19.4
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  Dockerfile
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#681 Add Fluent Operator resources
  charts/gardener-extension-provider-aws/templates/clusterfilters-logging.yaml
  charts/gardener-extension-provider-aws/templates/clusterparsers-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#673 Check for duplicate zone names in infrastructureconfig
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#650 Use provider specific regex to parse error codes from error
  pkg/apis/aws/helper/error_codes.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#684 Add CVE runtime context for `MCM` and `mcm-provider-aws`
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
