Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-04, with the labels that each got.

#732 Make the `gardener-extension-admission-aws` Service topology-aware
  charts/gardener-extension-admission-aws/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-aws/values.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#735 Do not delete `csi-snapshot-validation` ClusterRole and ClusterRoleBinding from the wrong cluster (Seed cluster) when deleting Shoot
  pkg/controller/controlplane/valuesprovider.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#603 Flow-based infrastructure reconciliation without Terraformer
  go.mod
  pkg/apis/aws/const.go
  pkg/aws/client/client.go
  pkg/aws/client/client_suite_test.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/tags.go
  pkg/aws/client/types.go
  pkg/aws/client/types_test.go
  pkg/aws/client/updater.go
  pkg/aws/client/utils.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/persistent_state.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/shared_suite_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard_test.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/tf_migration.go
  pkg/webhook/infrastructure/add.go
  pkg/webhook/infrastructure/mutate.go
  pkg/webhook/infrastructure/mutate_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/vpc.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, reviewed/lgtm, size/xl
