Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-05, with the labels that each got.

#742 Allow patching events for aws-custom-route-controller
  charts/internal/shoot-system-components/charts/aws-custom-route-controller/templates/role.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, reviewed/lgtm, size/xs

#740 Add a new metric that will allow Prometheus to scrape the stale machine count
  charts/internal/machine-controller-manager/seed/templates/configmap-monitoring.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#738 Block public access to S3 bucket as per standard practices
  pkg/aws/client/client.go
Labels: area/backup, area/security, kind/task, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s, area/compliance

#745 Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/open-source, area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#746 Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#747 Adapt `NetworkPolicy`s
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/internal/machine-controller-manager/seed/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
Labels: area/networking, area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#748 Revert "Consider errors from NodesChecker for finding user related issues"
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#750 topology-aware routing: Adapt to the upstream annotation change in K8s 1.27
  charts/gardener-extension-admission-aws/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#753 update go v1.20.4
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  Dockerfile
  go.mod
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#756 Add cve categorziation for extension and admission controller
  .ci/pipeline_definitions
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs, area/compliance

#754 Update EBS driver
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-volume-modifier.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-csi-volume-modifier.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/role-csi-volume-modifier.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/rolebinding-csi-volume-modifier.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/serviceaccount.yaml
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m
