Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-07, with the labels that each got.

#717 Deployment of AWS Load Balancer Controller in control plane
  charts/images.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/Chart.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/_helpers.tpl
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/service-monitoring.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/service-webhook.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/values.yaml
  charts/internal/seed-controlplane/requirements.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/Chart.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-ingressclassparams.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-targetgroupbindings.yaml
  charts/internal/shoot-crds/requirements.yaml
  charts/internal/shoot-crds/values.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/Chart.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/pdb.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/rbac.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/serviceaccount.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/webhook.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/values.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/aws/types_controlplane.go
  pkg/apis/aws/v1alpha1/types_controlplane.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/ipcei

#779 Infraflow: Fix tag value for elb roles
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, reviewed/lgtm, size/xs

#781 Introduce persona-based docs
  .docforge/manifest.yaml
  docs/development/local-setup.md
  docs/operations/deployment.md
  docs/operations/operations.md
  docs/usage/usage.md
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#774 Adapt to new `MachineControllerManagerDeployment` feature gate
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  pkg/controller/healthcheck/add.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/gomock.go
  vendor/github.com/gardener/gardener/pkg/utils/test/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/test/options.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test_resources.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#715 add getImageAMI for sustainable test
  test/integration/bastion/bastion_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s
