Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-03, with the labels that each got.

#712 Update bastion image AMI
  test/integration/bastion/bastion_test.go
Labels: area/control-plane, kind/test, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#718 Update v1.26 conformance test coverage
  README.md
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#716 Add wait-for-csi-node annotation to csi-driver-node Pods
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#709 add instance metadatav2 support
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  docs/usage-as-end-user.md
  example/30-worker.yaml
  go.mod
  go.sum
  hack/api-reference/api.md
  pkg/apis/aws/types_worker.go
  pkg/apis/aws/v1alpha1/types_worker.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/worker.go
  pkg/apis/aws/validation/worker_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/modules.txt
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/l

#724 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#723 Fix the annotation value for `snapshot.storage.kubernetes.io/is-default-class`
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#722 Switch to the docker-buildx oci-builder
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#703 Make the `csi-snapshot-validation` and `gardener-extension-provider-aws` Services topology-aware
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/gardener-extension-provider-aws/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/high-availability, area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#683 Add `cloudprovider` mutating webhook to ensure the `cloudprovider` secret has the `credentialsFile` field present.
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
  pkg/aws/types.go
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cloudprovider/cloudprovider.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cloudprovider/mutator.go
  vendor/modules.txt
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, reviewed/lgtm, size/m, area/compliance

#704 Fix `shoot` reconciliation when `sshAccess` is disabled.
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/ops-productivity, area/security, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#730 enable cleanup of snapshots
  .ci/pipeline_definitions
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
