Repository gardener/gardener-extension-provider-aws, pull requests merged in 2023-02, with the labels that each got.

#667 Drop support for Kubernetes < 1.20
  README.md
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/values.yaml
  charts/images.yaml
  charts/internal/aws-lb-readvertiser/charts/utils-templates/templates/_versions.tpl
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-crds/values.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
  charts/internal/shoot-storageclasses/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csidriver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  docs/usage-as-end-user.md
  example/10-fake-shoot-controlplane.yaml
  example/controller-registration.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  pkg/admission/validator/shoot.go
  pkg/apis/aws/validation/controlplane_test.go
  pkg/apis/aws/validation/shoot.go
  pkg/apis/aws/validation/shoot_test.go
  pkg/aws/csimigration.go
  pkg/aws/csimigration_test.go
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/README.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/predicate.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/utils.go
  vendor/modules.txt
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xl

#688 Health check for aws-custom-route-controller route updates
  pkg/controller/healthcheck/add.go
  pkg/controller/healthcheck/customroutecontrollerhealth.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#689 Update CSI dependencies to latest releases
  charts/images.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#697 Fix flapping snapshot.storage.k8s.io CRDs
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xl

#700 fix arm64 type for bastion instance
  pkg/controller/bastion/options.go
Labels: area/ops-productivity, kind/task, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#705 Revert "fix arm64 type for bastion instance"
  pkg/controller/bastion/options.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#682 add upstream ccm image support
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/rbac-node-controller.yaml
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#701 Mark csi-driver-node as node-critical component
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#707 add arm64 type for bastion instance
  pkg/controller/bastion/options.go
  test/integration/bastion/bastion_test.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m, status/accepted

#711 Remove minAllowed.CPU from all components
  charts/gardener-extension-admission-aws/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-provider-aws/templates/vpa.yaml
  charts/gardener-extension-provider-aws/values.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, area/auto-scaling
