Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-06, with the labels that each got.

#974 Fix indentation in CCM ServiceMonitor
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#975 Apply PR #974 to Release branch
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#979 Add validation of image availability in CloudProfile
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/aws/validation/worker.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#924 Add Support for Configuring CPU Options
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  docs/usage/usage.md
  hack/api-reference/api.md
  pkg/apis/aws/types_worker.go
  pkg/apis/aws/v1alpha1/types_worker.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/worker.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
Labels: area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#971 Ignore `NoSuchHostedZone` on DNSRecord deletion
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#983 Replace occurrences of `+` in operating system labels for MachineClasses with `_`
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs
