Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-04, with the labels that each got.

#903 Add dependabot.yml
  .github/dependabot.yml
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#913 Set gardenlet-uses-gardener-node-agent=true by default
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#914 [release-v1.53] Set gardenlet-uses-gardener-node-agent=true by default
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#919 Fix/Update infra-test
  test/integration/dnsrecord/dnsrecord_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/vpc.go
Labels: kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s, area/testing

#915 fix vpc not found classification on configvalidator
  pkg/aws/client/client.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs

#920 Cleanup handling for disabled `UseGardenerNodeAgent` feature gate
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, size/s

#930 Bump github.com/gardener/external-dns-management from 0.18.4 to 0.18.5 for rel v1.54.0
  go.mod
  go.sum
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs

#934 Enforce the usage of imdsv2 on k8s v1.30
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s
