Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-08, with the labels that each got.

#999 Flow update
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/infrastructure-test.yaml
  Makefile
  hack/api-reference/api.md
  pkg/apis/aws/const.go
  pkg/apis/aws/types_infrastructure.go
  pkg/apis/aws/v1alpha1/register.go
  pkg/apis/aws/v1alpha1/types_infrastructure.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/tags.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/infraflow_suite_test.go
  pkg/controller/infrastructure/infraflow/persistent_state.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/extras.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard_test.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/infraflow/utils_test.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/tf_migration.go
  pkg/controller/infrastructure/tf_reconciler.go
  pkg/controller/infrastructure/tf_template.go
  pkg/webhook/infrastructure/mutate.go
  pkg/webhook/infrastructure/mutate_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/quality, kind/api-change, kind/cleanup, needs/ok-to-test, needs/changes, needs/second-opinion, platform/aws, size/xl

#989 Add object selector to controlplane webhook with version constraint
  cmd/gardener-extension-provider-aws/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, platform/aws, size/s

#1031 Increase integration test timeout to 2h
  .ci/test-integration.sh
Labels: area/robustness, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1033 Determine user error in DeleteDNSRecordSet
  pkg/controller/dnsrecord/actuator.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1034 Fix error handling
  pkg/controller/infrastructure/terraform.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs

#1038 Fix issues with the AWS flow after last update
  pkg/cmd/options.go
  pkg/controller/infrastructure/infraflow/context.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1039 fix controlplane migration case for the infrastructure resources
  pkg/controller/infrastructure/actuator_migrate.go
Labels: kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs, area/control-plane-migration

#1041 [release-v1.57] Automated cherry pick of #1034: Fix error handling
  pkg/controller/infrastructure/terraform.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#1043 [release-v1.57] Automated cherry pick of #1039: fix controlplane migration case for the infrastructure resources
  pkg/controller/infrastructure/actuator_migrate.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/control-plane-migration

#1042 [release-v1.57] Automated cherry pick of #1038: Fix issues with the AWS flow after last update
  pkg/cmd/options.go
  pkg/controller/infrastructure/infraflow/context.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
