Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-11, with the labels that each got.

#1118 [release-v1.58] Automated cherry pick of #1109: Ignore alreadyDetached errors when detaching
  pkg/aws/client/client.go
  pkg/controller/infrastructure/infraflow/delete.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#1112 Fix terraform deploy and integration tests for IPv6.
  pkg/controller/infrastructure/templates/main.tpl.tf
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1119 fix test cardinality
  test/integration/infrastructure/infrastructure_test.go
  test/integration/vpc.go
Labels: area/control-plane, kind/test, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#1121 Update to go 1.23.3
  .test-defs/apply-flow-aws.yaml
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  Dockerfile
  go.mod
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1060 Update AWS SDK to v2
  go.mod
  go.sum
  pkg/aws/client/client.go
  pkg/aws/client/client_route53.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/tags.go
  pkg/aws/client/types.go
  pkg/aws/client/updater.go
  pkg/aws/matchers/iam_role.go
  pkg/aws/matchers/ip_permission.go
  pkg/aws/matchers/matchers.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/options.go
  pkg/controller/bastion/util_test.go
  pkg/controller/dnsrecord/actuator_test.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  test/integration/bastion/bastion_test.go
  test/integration/dnsrecord/dnsrecord_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/securitygroup.go
  test/integration/subnet.go
  test/integration/vpc.go
Labels: area/quality, kind/task, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl

#1126 Update Kubernetes 1.31 conformance test coverage
  README.md
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1122 Add section on internal load balancer config to usage docs.
  docs/usage/usage.md
Labels: area/networking, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1113 Address TODO after vendoring github.com/gardener/gardener@v1.106
  pkg/webhook/controlplane/ensurer.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, platform/aws, size/xs

#1123 Introduce gosec
  Makefile
  pkg/apis/aws/validation/shoot.go
  pkg/apis/config/loader/loader.go
  pkg/aws/types.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/worker/machines.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s

#1117 Remove the provider type predicates in webhooks
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/webhook.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1129 Change ToPort and FromPort in SecurityGroupRule to int32
  pkg/aws/client/client.go
  pkg/aws/client/types.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, size/xs

#1010 support extended resources in providerConfig.nodeTemplate, inherit core resources from pool.nodeTemplate
  docs/usage/usage.md
  pkg/apis/aws/validation/worker.go
  pkg/apis/aws/validation/worker_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_dependencies.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, platform/aws, size/m, area/auto-scaling

#1040 [GEP-27] Use cloud profile bastion machine and image
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/options.go
  pkg/controller/bastion/options_test.go
  test/integration/bastion/bastion_test.go
  test/integration/dnsrecord/dnsrecord_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/route.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/rebase, needs/changes, needs/review, needs/second-opinion, platform/aws, size/xl

#1127 Update golang versions
  .test-defs/apply-flow-aws.yaml
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  go.mod
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1128 Cleanup object selector version constraint
  cmd/gardener-extension-provider-aws/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1094 Add IPv4 ranges from Spec.Networking to Status.Networking.
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/infrastructure/tf_reconciler.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/rebase, platform/aws, size/m

#1135 add ipv6 shoot manifest to docs
  docs/usage/usage.md
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#1100 Adjustments for deploying extension on Garden runtime cluster by gardener-operator
  .ci/pipeline_definitions
  charts/gardener-extension-admission-aws/Chart.yaml
  charts/gardener-extension-admission-aws/charts/application/Chart.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/_helpers.tpl
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-aws/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-aws/charts/application/values.yaml
  charts/gardener-extension-admission-aws/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-aws/charts/runtime/values.yaml
  charts/gardener-extension-admission-aws/templates/_helpers.tpl
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-admission-aws/app/app.go
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  pkg/controller/dnsrecord/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/rebase, needs/changes, needs/review, needs/second-opinion, platform/aws, size/l

#1138 Filter pod ranges for IPv4 CIDRs to configure Custom-Route-Controller.
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#1139 Allow dual-stack networking
  pkg/admission/validator/shoot_test.go
  pkg/apis/aws/validation/shoot.go
Labels: area/networking, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1143 Add overview documentation for IPv6
  docs/usage/ipv6.md
  docs/usage/usage.md
Labels: area/documentation, area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/m

#1146 Revert "Filter pod ranges for IPv4 CIDRs to configure Custom-Route-Co…
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/networking, kind/cleanup, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1136 Add `NamespacedCloudProfile` validation and mutation webhooks
  pkg/admission/mutator/namespacedcloudprofile.go
  pkg/admission/mutator/namespacedcloudprofile_test.go
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/aws/validation/cloudprofile.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl
