Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-03, with the labels that each got.

#883 Fix dnsrecord flag usage
  .test-defs/infrastructure-test.yaml
  test/integration/dnsrecord/dnsrecord_test.go
Labels: kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs, area/testing

#887 Remove obsolete test for load balancer which is known to be IPv4 only
  test/integration/dnsrecord/dnsrecord_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#888 rm meta-record deletion, update tests
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#891 Upgrade terraformer in v1.52
  imagevector/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#893 Upgrade terraformer
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#849 Drop support for Shoots with Kubernetes version == 1.24
  README.md
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  docs/usage/usage.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  imagevector/images.yaml
  pkg/admission/mutator/shoot_test.go
  pkg/apis/aws/validation/controlplane_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#892 Remove `source-` prefix from `BackupEntry` name when performing entry detion
  pkg/controller/backupentry/actuator.go
Labels: kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/control-plane-migration

#886 Update aws lb controller to v2.7.1
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/Chart.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-ingressclassparams.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-targetgroupbindings.yaml
  charts/internal/shoot-crds/requirements.yaml
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#898 improve worker docs
  docs/usage/usage.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s

#900 Adopt new cloud-controller-manager patch releases
  imagevector/images.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#899 Update images
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  imagevector/images.yaml
Labels: kind/task, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl

#894 add operatingsystem label
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs
