Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-05, with the labels that each got.

#947 fix nil pointer vpc deletion
  pkg/controller/infrastructure/infraflow/context.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#948 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#955 Remove invalid CCM feature gate from the examples
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage/usage.md
  example/30-controlplane.yaml
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#952 controlplaneexposure-webhook: Don't do no-op mutations for Services and Deployments
  pkg/webhook/controlplaneexposure/add.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs, area/scalability

#961 Read new `.spec.pools[].userDataSecretRef` field for worker pool user data
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  hack/cherry-pick-pull.sh
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/scalability

#942 Support for Kubernetes v1.30
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#963 Update dependencies
  .github/dependabot.yml
  go.mod
  go.sum
Labels: needs/ok-to-test, needs/rebase, needs/review, size/s

#933 Change the default capacity of volumes for `Etcd` from `80Gi` to `25Gi`.
  charts/gardener-extension-provider-aws/values.yaml
  example/00-componentconfig.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/cost, area/storage, kind/technical-debt, needs/ok-to-test, platform/aws, reviewed/lgtm, reviewed/do-not-merge, size/m

#967 delete ssh keypair when disabled
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#968 Force bastion image version
  pkg/controller/bastion/options.go
  pkg/controller/bastion/options_test.go
  test/integration/bastion/bastion_test.go
Labels: area/robustness, kind/regression, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s
