Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-02, with the labels that each got.

#875 fix make start
  Makefile
Labels: area/dev-productivity, kind/regression, needs/ok-to-test, needs/review, platform/aws, size/xs

#874 fix ipv6 conditions for existing vpc
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#876 Use `extensionswebhook.EnsureFileWithPath` instead of custom `appendUniqueFile` func
  pkg/webhook/controlplane/ensurer.go
Labels: kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#877 specify leader-election ns
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#879 specify leader-election ns
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs

#878 Adapt PDBs to use `unhealthyPodEvictionPolicy: AlwaysAllow`
  charts/gardener-extension-admission-aws/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-aws/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-aws/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/shoot-system-components/charts/aws-load-balancer-controller/templates/pdb.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#854 ECR credential provider
  .golangci.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  example/controller-registration.yaml
  go.mod
  go.sum
  imagevector/images.yaml
  pkg/apis/aws/helper/scheme.go
  pkg/apis/aws/types_infrastructure.go
  pkg/apis/aws/v1alpha1/defaults.go
  pkg/apis/aws/v1alpha1/types_infrastructure.go
  pkg/aws/client/client.go
  pkg/aws/client/updater.go
  pkg/aws/types.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/rebase, needs/second-opinion, platform/aws, size/xl

#847 [dnsrecords] create AAAA alias targets for load balancers with IPv6 addresses
  go.mod
  go.sum
  pkg/apis/aws/const.go
  pkg/aws/client/client_route53.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
  test/integration/dnsrecord/dnsrecord_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/l
