Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-09, with the labels that each got.

#1046 add flow migration test
  .test-defs/apply-flow-aws.yaml
  test/tm/apply_flow/maintain_test.go
  test/tm/apply_flow/shoot_maintain_suite_test.go
Labels: area/control-plane, kind/test, needs/ok-to-test, needs/review, platform/aws, size/s

#1049 Update gardener to 1.103.0 and golang to 1.23.0
  .ci/hack/component_descriptor
  .test-defs/apply-flow-aws.yaml
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  Dockerfile
  cmd/gardener-extension-provider-aws/app/app.go
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  imagevector/imagevector.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/aws/helper/scheme.go
  pkg/aws/client/client.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupentry/add.go
  pkg/controller/bastion/add.go
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/add.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_images.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, size/xl

#1059 Extend dual-stack documentation concerning DNS considerations
  docs/usage/dual-stack-ingress.md
Labels: area/documentation, area/networking, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s

#1047 [GEP-26] CredentialsBinding validation via admission webhook
  cmd/gardener-extension-admission-aws/app/app.go
  docs/usage/usage.md
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/webhook.go
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m, area/ipcei
