Repository gardener/gardener-extension-provider-aws, pull requests merged in 2024-10, with the labels that each got.

#1074 parallel infrastructure tests
  .test-defs/infrastructure-test.yaml
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s, area/testing

#1024 Add ipv6 support.
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
  pkg/apis/aws/validation/shoot.go
  pkg/apis/aws/validation/shoot_test.go
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/infrastructure/tf_reconciler.go
  pkg/controller/worker/machines.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/vpc.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl

#1082 support nat64 and dns64
  pkg/aws/client/client.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1083 Fix routing table association deletion
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/quality, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1081 Create IPv6 ServiceCIDR and write IPv6 ranges to `Infra.Status.Networking`
  pkg/apis/aws/validation/infrastructure.go
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/infrastructure/tf_reconciler.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#988 Add object selector to the shoot webhook
  pkg/webhook/shoot/add.go
  pkg/webhook/shoot/mutator.go
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/scalability

#1055 Support for Kubernetes v1.31
  README.md
  imagevector/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/m, topology/garden, topology/seed, topology/shoot, merge/squash

#1070 Remove min/maxAllowed
  charts/gardener-extension-admission-aws/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-aws/values.yaml
  charts/gardener-extension-provider-aws/templates/vpa.yaml
  charts/gardener-extension-provider-aws/values.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#1068 Introduce `InfrastructureConfigFromCluster` and use it instead of API call
  pkg/apis/aws/helper/scheme.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/quality, kind/bug, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#1000 [GEP-25] Enable Shoot cloudProfile reference as complement to cloudProfileName
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
  docs/usage/usage.md
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/aws/helper/scheme.go
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
Labels: area/open-source, area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#984 Add option to deploy aws ipam controller
  charts/internal/seed-controlplane/charts/aws-ipam-controller/Chart.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/role.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/rolebinding.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/serviceaccount.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/requirements.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-system-components/charts/aws-ipam-controller/Chart.yaml
  charts/internal/shoot-system-components/charts/aws-ipam-controller/templates/clusterrole.yaml
  charts/internal/shoot-system-components/charts/aws-ipam-controller/templates/clusterrolebinding.yaml
  charts/internal/shoot-system-components/charts/aws-ipam-controller/templates/role.yaml
  charts/internal/shoot-system-components/charts/aws-ipam-controller/templates/rolebinding.yaml
  charts/internal/shoot-system-components/requirements.yaml
  docs/usage/usage.md
  imagevector/images.yaml
  pkg/apis/aws/types_controlplane.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, size/xl

#1072 Update cloud-provider images
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-ingressclassparams.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-targetgroupbindings.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-snapshotter.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-snapshot-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snaphot-validation-webhook.yaml
  imagevector/images.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/changes, needs/second-opinion, platform/aws, size/xl

#1087 Fixed broken links - 2024.10
  README.md
  docs/usage/usage.md
Labels: needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1088 disable crc for ipv6
  pkg/controller/controlplane/valuesprovider.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1080 SC Gardener aws-ebs-csi-driver image update
  Dockerfile
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  docs/usage/usage.md
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, area/delivery, area/storage, kind/bug, needs/ok-to-test, needs/changes, needs/review, platform/aws, size/xs

#1089 Minor nits after wrong rebase in #1068
  pkg/apis/aws/helper/scheme.go
Labels: kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm

#1090 downgrade unpublished images
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1098 Fix route table association deletion
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs

#1107 Fix nil check after getting route table
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/robustness, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/xs

#1111 Route table duplicate "0.0.0.0/0" rule creation
  pkg/aws/client/types.go
  pkg/aws/client/updater.go
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/m

#1105 update aws-ipam-controller
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/deployment.yaml
  imagevector/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1110 Update gardener to v1.106.1
  .ci/hack/set_dependency_version
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/infrastructure/add.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl

#1095 Enforce restriction with regards to IPv6 support
  pkg/admission/validator/shoot_test.go
  pkg/apis/aws/validation/shoot.go
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1099 Always enable AWS load balancer controller for clusters with IPv6
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1108 Add IPv4 address to internal subnet for IPv6 only shoots.
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/templates/main.tpl.tf
Labels: area/networking, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
