Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-08, with the labels that each got.

#1428 support reserved volume attachments
  Makefile
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  docs/usage/usage.md
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1423 Update the regex selector for the unused MCM RBAC resources
  cmd/gardener-extension-provider-aws/app/migrations.go
Labels: kind/bug, kind/cleanup, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/compliance

#1425 Allow deletion of duplicated zones
  pkg/apis/aws/validation/infrastructure.go
Labels: area/quality, kind/cleanup, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1403 Allow creation or more that one IPv6 shoot in one VPC
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/networking, kind/bug, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1389 [GEP-26] Add support for Workload Identity credentials to etcd backups
  Makefile
  docs/operations/operations.md
  docs/usage/usage.md
  pkg/apis/aws/helper/scheme.go
  pkg/apis/aws/helper/scheme_test.go
  pkg/aws/client/types.go
  pkg/aws/client/utils.go
  pkg/aws/secret.go
  pkg/aws/secret_test.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_reconcile.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/backupentry/actuator_test.go
  pkg/controller/backupentry/backupentry_suite_test.go
  pkg/controller/backupentry/export_test.go
Labels: area/documentation, area/security, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/ipcei

#1430 Fix GHA (missing privileges + typo in workflow name)
  .github/workflows/head-update.yaml
  .github/workflows/release.yaml
  .ocm/base-component.yaml
Labels: needs/review, platform/aws, reviewed/ok-to-test, size/xs

#1422 `chore:` Update images
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-ingressclassparams.yaml
  imagevector/images.yaml
Labels: area/quality, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/s

#1448 Remove CPU requests for aws-extension components in Shoot and Seed
  charts/gardener-extension-admission-aws/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-provider-aws/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/values.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/values.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/auto-scaling

#1451 Add notes regarding quotas to dual-stack ingress docs.
  docs/usage/dual-stack-ingress.md
Labels: needs/review, platform/aws, reviewed/ok-to-test, size/xs

#1452 Add label-based trust to head-update build job
  .github/workflows/head-update.yaml
Labels: area/dev-productivity, kind/regression, needs/review, platform/aws, reviewed/ok-to-test, size/xs

#1453 Add label bases trust to build workflow
  .github/workflows/build.yaml
Labels: area/dev-productivity, kind/regression, needs/ok-to-test, needs/review, platform/aws, size/xs
