Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-07, with the labels that each got.

#1324 add job for running testmachinery-tests (again)
  .github/workflows/run-integrationtests.yaml
Labels: area/delivery, kind/task, needs/ok-to-test, needs/review, platform/aws, reviewed/ok-to-test, size/xs

#1400 [release-v1.62] Automated cherry pick of #1365: run `make generate` for release- and bump-commits
  .ci/prepare_release
  .github/actions/prepare-release/action.yaml
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1383 Support for configuring dedicated tenancy for VPC
  hack/api-reference/api.md
  pkg/apis/aws/types_infrastructure.go
  pkg/apis/aws/v1alpha1/types_infrastructure.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/client/client.go
  pkg/aws/client/types.go
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/control-plane, kind/api-change, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#1354 update aws-ipam-controller to v0.6.0
  imagevector/images.yaml
Labels: area/networking, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1386 Set user agent when creating AWS clients
  pkg/aws/client/client.go
Labels: kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s, area/audit-logging

#1413 update gha for new release options
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Labels: area/delivery, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1412 run integrationtests (again) as part of release
  .github/workflows/release.yaml
  .github/workflows/run-integrationtests.yaml
Labels: area/delivery, kind/bug, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1414 set base component descriptor explicitly
  .ocm/base-component.yaml
Labels: needs/review, platform/aws, reviewed/ok-to-test, size/xs

#1416 export testresults as inlined ocm-resource
  .github/workflows/build.yaml
Labels: kind/task, needs/review, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s, area/compliance

#1417 Separate bastion reconcile and delete options
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/options.go
  test/integration/bastion/bastion_test.go
Labels: area/quality, kind/enhancement, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/l

#1174 EFS CSI controller support
  .golangci.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/Chart.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/controller-deployment.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/controller-serviceaccount.yaml 
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/node-daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/node-serviceaccount.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/templates/storageclass.yaml
  charts/internal/shoot-system-components/charts/csi-driver-efs/values.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  docs/usage/usage.md
  example/30-infrastructure.yaml
  go.mod
  go.sum
  hack/api-reference/api.md
  imagevector/images.yaml
  pkg/apis/aws/types_infrastructure.go
  pkg/apis/aws/v1alpha1/types_infrastructure.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/infrastructure_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/tags.go
  pkg/aws/client/types.go
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/utils.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl
