Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-01, with the labels that each got.

#1186 Fix IPv6 validation
  pkg/apis/aws/validation/infrastructure.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1190 Rename to `seedprovider` webhook
  cmd/gardener-extension-provider-aws/app/app.go
  pkg/cmd/options.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, reviewed/lgtm, size/xs

#1192 Address TODOs
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/service.yaml
  example/controller-registration.yaml
  pkg/controller/worker/machines.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm

#1152 Add support for VolumeAttributesClasses
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-resizer.yaml
  docs/usage/usage.md
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#1207 Remove wildcards from RBAC resources
  charts/gardener-extension-provider-aws/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s, area/compliance
