Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-04, with the labels that each got.

#1267 docs: Add conformance test results badge for Kubernetes v1.32
  README.md
Labels: area/documentation, area/open-source, kind/task, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1274 Update base image to `debian12`
  Dockerfile
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1278 Add IPv6 address to bastion VM for IPv6 shoots.
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/options.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1277 golangci-lint v2
  .golangci.yaml
  charts/charts.go
  cmd/gardener-extension-admission-aws/main.go
  cmd/gardener-extension-provider-aws/app/app.go
  cmd/gardener-extension-provider-aws/main.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/shoot.go
  pkg/apis/aws/helper/helper_test.go
  pkg/apis/aws/validation/infrastructure.go
  pkg/apis/aws/validation/worker.go
  pkg/aws/client/client.go
  pkg/aws/client/client_route53.go
  pkg/aws/client/tags.go
  pkg/aws/client/types.go
  pkg/aws/client/types_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/healthcheck/customroutecontrollerhealth.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/infraflow/utils_test.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/tf_reconciler.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/infrastructure/mutate.go
  pkg/webhook/infrastructure/mutate_test.go
  pkg/webhook/shootconfigmap/add.go
  pkg/webhook/shootconfigmap/mutator.go
  pkg/webhook/shootservice/add.go
  pkg/webhook/shootservice/mutator.go
  pkg/webhook/terraformer/mutator.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/vpc.go
  test/tm/apply_flow/maintain_test.go
  test/tm/generator.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, size/l

#1285 use minimal permissions for aws-ipam-controller
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/role.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1279 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, needs/rebase, platform/aws, reviewed/lgtm, size/s

#1287 chore: Update `gardener/gardener` to `v1.117.0`
  .github/ISSUE_TEMPLATE/support.md
  .golangci.yaml
  charts/gardener-extension-provider-aws/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  cmd/gardener-extension-provider-aws/app/app.go
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  example/controller-registration.yaml
  example/doc.go
  go.mod
  go.sum
  pkg/aws/client/client.go
  pkg/aws/matchers/iam_role.go
  pkg/aws/matchers/iam_role_policy_document.go
  pkg/aws/matchers/ip_permission.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/tf_reconciler.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
  test/integration/bastion/bastion_test.go
Labels: area/open-source, kind/task, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, reviewed/lgtm, size/xl
