Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-02, with the labels that each got.

#1201 Forbid privilege escalation for containers
  charts/gardener-extension-admission-aws/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-custom-route-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-ipam-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, platform/aws, size/xs, area/compliance

#1214 chore: Cleanup obsolete `csi-driver-controller-observability-config` deletion
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1215 Fix Deployment in Garden Runtime Cluster
  charts/gardener-extension-provider-aws/templates/_helpers.tpl
  charts/gardener-extension-provider-aws/templates/daemonset-custom-mtu.yaml
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/gardener-extension-provider-aws/templates/storageclass.yaml
  charts/gardener-extension-provider-aws/values.yaml
  example/controller-registration.yaml
Labels: area/delivery, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/s

#1213 chore: Cleanup deprecated label approach
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1206 Add Kubernetes 1.32 support
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s, topology/garden, topology/seed, topology/shoot, merge/squash

#1229 Make extension ports configurable via helm values
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/templates/service.yaml
  charts/gardener-extension-provider-aws/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s

#1208 Add `deletecollection` verb to RBAC rules
  charts/gardener-extension-provider-aws/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/compliance

#1230 [release-v1.59] Automated cherry pick of #1159: [ci:component:github.com/gardener/machine-controller-manager-provider-aws:v0.21.0->v0.22.0]
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1233 Cleanup snapshot-validation leftovers
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1224 Split shoot webhook into separate ConfigMap and Service webhooks
  pkg/cmd/options.go
  pkg/webhook/shoot/loadbalancer_service.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/nginx_ingress_controller.go
  pkg/webhook/shootconfigmap/add.go
  pkg/webhook/shootconfigmap/add_test.go
  pkg/webhook/shootconfigmap/mutator.go
  pkg/webhook/shootconfigmap/mutator_test.go
  pkg/webhook/shootconfigmap/shoot_configmap_suite_test.go
  pkg/webhook/shootservice/add.go
  pkg/webhook/shootservice/add_test.go
  pkg/webhook/shootservice/mutator.go
  pkg/webhook/shootservice/mutator_test.go
  pkg/webhook/shootservice/shoot_service_suite_test.go
Labels: area/robustness, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/l, area/scalability

#1235 [release-v1.60] Automated cherry pick of #1224: Split shoot webhook into separate ConfigMap and Service webhooks
  pkg/cmd/options.go
  pkg/webhook/shoot/loadbalancer_service.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/nginx_ingress_controller.go
  pkg/webhook/shootconfigmap/add.go
  pkg/webhook/shootconfigmap/add_test.go
  pkg/webhook/shootconfigmap/mutator.go
  pkg/webhook/shootconfigmap/mutator_test.go
  pkg/webhook/shootconfigmap/shoot_configmap_suite_test.go
  pkg/webhook/shootservice/add.go
  pkg/webhook/shootservice/add_test.go
  pkg/webhook/shootservice/mutator.go
  pkg/webhook/shootservice/mutator_test.go
  pkg/webhook/shootservice/shoot_service_suite_test.go
Labels: area/robustness, kind/bug, needs/ok-to-test, needs/review, needs/second-opinion, size/l, area/scalability
