Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-03, with the labels that each got.

#1185 Fix CloudProfile MachineImages validation
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/apis/aws/validation/cloudprofile.go
  pkg/apis/aws/validation/cloudprofile_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/m

#1241 Pass worker pool priority to MachineDeployment during generation
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1248 Remove redundant quotations from RBAC resource lists
  charts/gardener-extension-provider-aws/templates/rbac.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1247 Replaced shortcodes
  docs/tutorials/kubernetes-cluster-on-aws-with-gardener/kubernetes-cluster-on-aws-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/s

#1253 Allow admission to get workloadidentities
  charts/gardener-extension-admission-aws/charts/application/templates/rbac.yaml
Labels: area/security, kind/bug, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1209 Update image dependencies
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-ingressclassparams.yaml
  charts/internal/shoot-crds/charts/aws-load-balancer-controller/templates/crd-targetgroupbindings.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-snapshot-validation.yaml
  imagevector/images.yaml
  pkg/aws/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
Labels: kind/task, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/compliance

#1254 remove validation webhook
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snaphot-validation-webhook.yaml
Labels: needs/ok-to-test, needs/review, platform/aws, size/xs

#1255 update csi container args according to upstream
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1256 fix incorrect arg in csi driver
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-deployment.yaml
Labels: needs/ok-to-test, needs/review, platform/aws, size/xs

#1260 fix albc netpol annotations
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/service-monitoring.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/service-webhook.yaml
  charts/internal/seed-controlplane/charts/aws-load-balancer-controller/templates/service.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/aws, size/s

#1265 Reintroduce external image upload to cd script.
  .ci/component_descriptor
Labels: area/delivery, kind/regression, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs
