Repository gardener/gardener-extension-provider-aws, pull requests merged in 2025-05, with the labels that each got.

#1305 Update gardener/gardener to v1.118.0
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  charts/gardener-extension-provider-aws/values.yaml
  cmd/gardener-extension-admission-aws/app/app.go
  cmd/gardener-extension-provider-aws/app/app.go
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/worker/add.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#1301 add bring your own vpc case to ipv6 documentation
  docs/usage/images/bring-your-own-vpc.png
  docs/usage/ipv6.md
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1307 update csi image to latest
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1298 Remove `podAntiAffinity` in favor of TSCs.
  charts/gardener-extension-provider-aws/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, area/high-availability, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, size/xs

#1313 Improve Documentation and Admission Checks for IPv6/Dual-Stack and Pod Overlay Network.
  docs/usage/ipv6.md
  pkg/apis/aws/validation/shoot.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1316 [release-v1.61] Automated cherry pick of #1299: [ci:component:github.com/gardener/machine-controller-manager-provider-aws:v0.23.0->v0.24.0]
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1314 fix: correctly reference reusable release-workflow
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Labels: area/delivery, area/open-source, kind/bug, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#1268 Add client filter unit tests
  pkg/aws/client/client.go
  pkg/aws/client/filter.go
  pkg/aws/client/filter_test.go
  pkg/aws/client/tags.go
  pkg/controller/bastion/actuator_reconcile.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/route.go
  test/integration/vpc.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m

#1261 Add AWS S3 bucket level immutability feature.
  docs/usage/usage.md
  example/30-backupbucket.yaml
  hack/api-reference/api.md
  pkg/admission/validator/seed.go
  pkg/admission/validator/seed_test.go
  pkg/admission/validator/serialization.go
  pkg/admission/validator/serialization_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/aws/register.go
  pkg/apis/aws/types_backupbucket.go
  pkg/apis/aws/v1alpha1/register.go
  pkg/apis/aws/v1alpha1/types_backupbucket.go
  pkg/apis/aws/v1alpha1/zz_generated.conversion.go
  pkg/apis/aws/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/aws/validation/backupbucket.go
  pkg/apis/aws/validation/backupbucket_test.go
  pkg/apis/aws/zz_generated.deepcopy.go
  pkg/aws/client/client.go
  pkg/aws/client/mock/mocks.go
  pkg/aws/client/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_delete.go
  pkg/controller/backupbucket/actuator_reconcile.go
  pkg/controller/backupbucket/actuator_test.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupbucket/backupbucket_suite_test.go
Labels: area/backup, kind/api-change, kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl

#1323 Update csi images
  imagevector/images.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/aws, size/xs

#1315 Purge unused Machine Controller Manager RBAC resources
  cmd/gardener-extension-provider-aws/app/app.go
  cmd/gardener-extension-provider-aws/app/migrations.go
Labels: area/security, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, reviewed/lgtm, size/s

#1276 [GEP-31] Adapt extension to support in-place updates
  example/30-worker.yaml
  go.mod
  go.sum
  pkg/apis/aws/validation/shoot.go
  pkg/apis/aws/validation/shoot_test.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, area/delivery, area/open-source, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/aws, size/l, area/scalability

#1325 Exclude data volumes from worker pool hash calculation for in-place updates
  example/30-worker.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/m

#1327 publish component-descriptor for head-update-jobs
  .github/workflows/head-update.yaml
Labels: platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1328 GH Actions Cleanup
  .github/workflows/head-update.yaml
Labels: area/delivery, kind/cleanup, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/s

#1318 add backupbucket integration test
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/apply-flow-aws.yaml
  .test-defs/backupbucket-test.yaml
  .test-defs/bastion-test.yaml
  .test-defs/dnsrecord-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-aws.yaml
  Makefile
  test/integration/backupbucket/backupbucket_suite_test.go
  test/integration/backupbucket/backupbucket_test.go
  test/integration/backupbucket/helper_test.go
Labels: kind/test, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/testing

#1334 fix: publish oci-images to previously used repositories
  .github/workflows/build.yaml
  .github/workflows/head-update.yaml
Labels: area/delivery, kind/bug, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1335 fix: declare alpine and pause-images in ocm-component-descriptor
  .ocm/base-component.yaml
Labels: area/delivery, kind/bug, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1342 Fix master
  .github/workflows/build.yaml
  .github/workflows/head-update.yaml
  example/controller-registration.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/regression, needs/review, platform/aws, reviewed/ok-to-test, size/s
